:root {
    --primario: #57D4D7;
    --secondario: #56DCD7;

    --gris: #656471;

    --blanco: #ffffff;
    --negro: #000000;
    --grisClaro: #e1e1e1;

    --bgBlanco: #ffffff;

    --bgPrimario: #62D0E7;
    --bgSecundario: #30D8C0;

    --separacion: 5rem;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

/** Globales **/
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    margin: calc(var(--separacion) / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

p {
    font-size: 1.7rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--negro);
}

.btn {
    width: 100%;
    border: none;
    padding: 2rem;
    border-radius: 6rem;
    cursor: pointer;
}

.btn-sin-border {
    background-color: var(--bgBlanco);
    color: var(--negro);
    font-weight: bold;
}

.btn-con-border {
    border: .2rem solid var(--bgBlanco);
    background-color: linear-gradient(to top, var(--bgPrimario) 50%, var(--bgSecundario) 100%);
    color: var(--blanco);
}



.bg-verde {
    background-color: var(--bgSecundario);
    color: var(--blanco);
}


.card {
    background: linear-gradient(to right, var(--bgPrimario) 50%, var(--bgSecundario) 100%);
    border-radius: 4rem;
    padding: 2rem;
}


/** Utilidades **/
.color-verde {
    color: var(--bgSecundario);
}

.color-gris {
    color: var(--gris);
}

.text-center {
    text-align: center;
}


/** Header **/
.header {
    background-color: var(--bgBlanco);
    margin-bottom: 0;
}

.contenido-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(var(--separacion) / 5) 0;
}

@media (min-width: 768px) {
    .contenido-header {
        flex-direction: row;
        justify-content: space-between;
    }
}

.imagen-header {
    flex-grow: 1.5;
}


.nav-header {
    margin: calc(var(--separacion) / 6) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .nav-header {
        flex-grow: 1.6;
        flex-direction: row;
        justify-content: space-between;
    }
}


/** Sobre Dogs **/
.sobre-dog {
    background-image: linear-gradient(to top, var(--bgPrimario) 50%, var(--bgSecundario) 100%);
}

@media (min-width: 768px) {
    .sobre-dog {
        background-image: linear-gradient(to right, var(--bgPrimario) 50%, var(--bgSecundario) 100%);
    }
}


.contenido-sobre-dog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 768px) {
    .contenido-sobre-dog {
        flex-direction: row-reverse;
    }

}


.texto-sobre-dog {
    text-align: center;
    color: var(--blanco);
}



.texto-sobre-dog h2 {
    margin-top: 0;
    text-transform: uppercase;
}

.texto-sobre-dog .contenedor-button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin-bottom: 2rem;

}

.contenedor-button button {
    text-transform: uppercase;
}



/** INFORMACION GENERAL **/

.section-info {
    margin: var(--separacion) 0;
    padding: calc(var(--separacion) / 2) 0;
}

.sobre-info {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .sobre-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
    }
}

.imagen-sobre-info {
    width: 100%;
    border-radius: 3rem;
    overflow: hidden;
}


.texto-info p {
    text-align: justify;
    margin-bottom: calc(var(--separacion) / 2);
}



.texto-info button {
    width: 50%;
    text-transform: uppercase;
}


/** SECTION OUR PROCESS **/
.section-our-process {
    background-color: #F2F4FD;
    padding: calc(var(--separacion) * 1) 0;
}

.listado-process {
    margin: var(--separacion) 0;
}

@media (min-width: 768px) {
    .listado-process {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.item-proces {
    padding: 2rem;
    color: var(--blanco);
    text-align: center;
}

.item-proces .proces-imagen {
    width: 40%;
    margin: 0 auto;
    background-color: var(--bgBlanco);
    padding: 1.5rem;
    border-radius: 50%;
}

.item-proces:nth-child(1) {
    background-color: #0090B1;
}

.item-proces:first-of-type {
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}

@media (min-width: 768px) {
    .item-proces:first-of-type {
        border-top-left-radius: 4rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 4rem;
    }
}

.item-proces:last-of-type {
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}

@media (min-width: 768px) {
    .item-proces:last-of-type {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 4rem;
        border-top-right-radius: 4rem;
    }
}

.item-proces:nth-child(2) {
    background-color: #00ACC1;
}

.item-proces:nth-child(3) {
    background-color: #2BC4D1;
}

.item-proces:nth-child(4) {
    background-color: #32D8D5;
}

.proces-texto h3 {
    margin: 1rem;
}

/** SECTION ADOPCION **/
.section-adopcion {
    padding: var(--separacion) 0;
}

@media (min-width: 768px) {
    .listado-animales {
        margin: var(--separacion) 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

.canino {
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);
    border-radius: 1rem;
    margin-bottom: 4rem;
}

.header-canino {
    position: relative;
}

.imagen-canino img {
    object-fit: cover;
    min-height: 30rem;
}

.info-data-canino {
    background-color: #37386E;
    padding: 1rem;
    text-align: center;
    color: var(--blanco);
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.body-canino {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-canino h3 {
    margin: 0;
    font-weight: bold;
}

.body-canino p {
    text-align: center;
    font-weight: 400;
}


.btn-adopcion {
    width: 50%;
    display: block;
    color: var(--negro);
    border: 1px solid var(--gris);
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    transition-property: color, background-color;
    transition-duration: 300ms;
}

.btn-adopcion:hover {
    color: var(--blanco);
    background-color: var(--negro);
}

/** SECTION HELP **/

.section-help {
    background-image: linear-gradient(to bottom, var(--bgPrimario) 50%, var(--bgSecundario) 100%);
}

@media (min-width: 768px) {
    .section-help {
        background-image: linear-gradient(to right, var(--bgPrimario) 50%, var(--bgSecundario) 100%);
    }

}


.contenido-help {
    display: flex;
    flex-direction: column;
    padding: calc(var(--separacion) / 2);
    color: var(--blanco);
}

@media (min-width: 768px) {
    .contenido-help {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

}

.help-info {
    text-align: left;
}

.help-info .input {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    border: .2rem solid var(--bgBlanco);
    border-radius: 2rem;
    overflow: hidden;
}

@media (min-width: 768px) {
    .help-info .input {
        grid-template-columns: repeat(2, 1fr);
    }
}

.help-info .input input {
    border: none;
    padding: 2rem;
}

.input input[type="text"] {

    padding-left: 2rem;
    color: var(--blanco);
    background-color: transparent;
}

.input input[type="text"]::placeholder {
    color: var(--blanco);
}


.input input[type="submit"] {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}


@media (min-width: 768px) {
    .input input[type="submit"] {
        border-top-right-radius: 0;
        border-bottom-left-radius: 2rem;
    }
}


/** SECTION MIND **/
.section-mind {
    margin: calc(var(--separacion)) 0;
}


@media (min-width: 768px) {
    .contenido-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
}

.contenedor-texto {
    margin-bottom: calc(var(--separacion) / 2);
}

.texto-mind p {
    text-align: center;
}

@media (min-width: 768px) {
    .texto-mind p {
        text-align: left;
    }
}


.contenedor-imagen {
    margin: calc(var(--separacion) / 2) 0;
    border-radius: 4rem;
    overflow: hidden;
}

.listado-items .card.item {
    margin-bottom: calc(var(--separacion) / 2);
}

.card-texto h3 {
    margin: 0;
}


@media (min-width: 768px) {
    .listado-items .card.item {
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .card.item .card-imagen {
        flex: 1.5;
    }

    .card.item .card-texto {
        flex: 4;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 3rem;
    }



    .card-texto p {
        text-align: left;
    }
}

.card.item .card-texto {
    text-align: center;
    color: var(--blanco);
}

.card.item .card-imagen {
    display: flex;
    justify-content: center;
}

.card-imagen div {
    background-color: var(--bgBlanco);
    padding: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 1rem var(--gris);

}